{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<title>KaboFix:Main</title>
  <div>
  <h1>Главная</h1>
</div>
<div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active"  href="/">Все жалобы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="/my_problems">Ваши не выполненые жалобы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="/mysolvedproblems">Ваши выполннные жалобы</a>
  </li>
  </ul>
  </div>
    <div align="right">
 <a href="/Create" class="btn btn-primary">Создать новую жалобу</a>
</div><br>
    <div class="card-columns">
  {% for problem in problems %}
  {% if problem.status == 'Не выполнено' %}
  <div>
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>{{ problem.author }}</h3></div>
  <div class="card-body text-danger">
    <h5 class="card-title">Комната №{{ problem.room }}</h5>
    <p class="card-text">{{ problem.text }}</p>
    <p class="card-text">{{ problem.status }}</p>
    <a class="btn btn-primary" type="submit" value="Like" name="Like" href="/like?id={{ problem.id }}" ></a>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
  {% for problem in problems %}
  {% if problem.status == 'В работе' %}
  <div>
<div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>{{ problem.author }}</h3></div>
  <div class="card-body text-warning">
    <h5 class="card-title">Комната №{{ problem.room }}</h5>
    <p class="card-text">{{ problem.text }}</p>
    <p class="card-text">{{ problem.status }}</p>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
  {% for problem in problems %}
  {% if problem.status == 'Выполнено' %}
  <div>
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>{{ problem.author }}</h3></div>
  <div class="card-body text-success">
    <h5 class="card-title">Комната №{{ problem.room }}</h5>
    <p class="card-text">{{ problem.text }}</p>
    <p class="card-text">{{ problem.status }}</p>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}