{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<title>KaboFix:Main</title>
  <div>
  <h1>Главная</h1>
</div>
<div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active"  href="/">Все жалобы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="/problemsinwork">Все заявки в работе</a>
  </li>
  </ul>
  </div>
   <div class="card-columns">
    {% for problem in problems_o %}
  {% if problem.status == 'В работе' %}
  <div>
<div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>{{ problem.author }}</h3></div>
  <div class="card-body text-warning">
    <h5 class="card-title">Комната №{{ problem.room }}</h5>
    <p class="card-text">{{ problem.text }}</p>
    <p class="card-text">{{ problem.status }}</p>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}